<div id="preferences-stripe" class="stripe">
  <h1>Preferences</h1>

  <div id="tab-container"></div>

  <div id="preferences-container">
    <div id="user-details">
      <h2>User details</h2>

      <%= form_for(@changeset, Routes.preferences_path(@conn, :do_edit), fn f -> %>
        <%= hidden_input(f, :type, value: "edit", id: "edit-type") %>

        <%= label(f, :email, "Email address") %>
        <div class="input">
          <%= email_input(f, :email, minlength: 3, maxlength: 255) %>
          <%= error_tag(f, :email) %>
          <p class="help-block">
            Email is only used for important notifications about the service, not for promotions or spam.
          </p>
        </div>

        <%= label(f, :private_profile, "Private profile") %>
        <div class="input">
          <%= checkbox(f, :private_profile) %>

          <p class="help-block">
            Private profile can only be seen by yourself.
          </p>
        </div>

        <div class="submit"><%= submit("Update preferences") %></div>
      <% end) %>
    </div>

    <div id="change-password" class="stripe">
      <h2>Change password</h2>

      <%= form_for(@pass_changeset, Routes.preferences_path(@conn, :do_edit), fn f -> %>
        <%= hidden_input(f, :type, value: "password", id: "password-type") %>

        <%= label(f, :old_password, "Current password (required)") %>
        <div class="input">
          <%= password_input(f, :old_password, autocomplete: "current-password", required: true) %>
          <%= error_tag(f, :old_password) %>
          <p class="help-block">
            For security, to change your password, you need to also give your current password.
          </p>
        </div>

        <%= label(f, :password, "New password (required)") %>
        <div class="input">
          <%= password_input(f, :password, autocomplete: "new-password", required: true, minlength: 6) %>
          <%= error_tag(f, :password) %>
        </div>

        <div class="submit"><button type="submit">Change password</button></div>
      <% end) %>
    </div>

    <div id="export-data">
      <h2>Export data</h2>

      <div id="export-data-container">
        <p>
          Press the button below to download your XP data in CSV format. You can also include all
          private data contained in the service about your account. See the
          <a href="<%= Routes.page_path(@conn, :terms) %>">privacy policy</a> for more information.
        </p>

        <form>
          <label for="include-private-data">Include private data in CSV export</label>
          <input type="checkbox" id="include-private-data">

          <div class="submit">
            <button id="export-data-button" type="button">Download data</button>
          </div>
        </form>
      </div>

      <div id="export-data-processing"></div>
    </div>

    <div id="delete-account">
      <h2>Delete account</h2>

      <p>
        If you wish to delete your account, please input "DELETE" into the field below and press
        the delete button. If you do this, all your data will be removed and cannot be recovered.
      </p>

      <%= form_tag(Routes.preferences_path(@conn, :do_edit), method: :delete) %>
        <label><strong>This cannot be undone!</strong></label>
        <input type="text" class="form-control" name="delete_confirmation" maxlength="6" required />

        <div class="submit"><button type="submit" class="button-danger">Delete account forever</button></div>
      </form>
    </div>
  </div>
</div>
