.hour-xps {
  grid-area: hour-x;

  h4 {
    text-align: center;
  }

  .graph-container {
    position: relative;
  }

  .mode-switcher {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 10px;
  }

  button {
    background-color: $background-color;
    padding: 0;
    color: $base-text;
    margin-left: 5px;
    line-height: 0;
  }

  button svg {
    width: 32px;
    height: 32px;
  }
}
